body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 60px;
}
.cardContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cardContainer h3 {
  width: 100%;
}
.card {
  align-content: center;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.card h4 {
  text-align: center;
}

.card img {
  max-height: 170px;
}
